body {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-size: medium;
}

.flex-container {
    display: flex;
    height: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.poem {
    border-style: solid;
    border-color: black;
    font-size: medium;
    width: 600px;
    padding: 20px;
    box-sizing: border-box;

}

.verse {
    list-style-type: none;
    
}



