body {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-size: medium;
}

.flex-container {
    display: flex;
    height: 600px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.poem {
    border-style: solid;
    border-color: black;
    width: 500px;
    padding: 20px;

}

.verse {
    list-style-type: none;
    
}

a:visited {
    color:blue;
}


